.card {
    margin-bottom: 8rem;
}

.card-title {
    margin: auto;
}
.card-text {
    margin: auto;
    width: 80%;
    height: 80%;
}

.btn {
    margin: auto;
    width: 20%;
    &:hover {
        background-color: #417B5A;
        color: white;
    }
    &:active {
        filter: grayscale(80);
    } 
}

.btnNext {
    background-color: #FF6E33 ;
    
}

body {
    background-color: #417B5A;
}