.card {
    margin-bottom: 8rem;
}

.card-title {
    margin: auto;
}
.card-text {
    margin: auto;
    width: 80%;
    height: 4rem;
}

.btn {
    margin: auto;
    width: 20%;
}

.btnNext {
    background-color: #FF6E33 ;
    &:hover {
        background-color: #417B5A;
    }
}

body {
    background-color: #417B5A;
}